
.publications {
  background: $bg-color;
  border-top-left-radius: $radius-md;
  border-top-right-radius: $radius-md;

  &__container {
    padding: 30px 30px 0px 30px;
  }

  &__header {
    margin-bottom: 30px;
  }

  &__link {
    @include base-link;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    padding: 0 9px 10px 0;
    font-size: 14px;

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      right: 0;
      width: 7px;
      height: 7px;
      border-bottom: 2px solid $regular-color;
      border-right: 2px solid $regular-color;
      transform: rotate(-45deg);
      transition: .2s ease;
    }
  }

  &__title {
    @include subtitle;
    @include main-gradient-text;
  }

  &__body {
    display: flex;
    flex-flow: column;
    gap: 30px;

    @include viewport-md {
      flex-flow: row;
      flex-wrap: wrap;
    }
  }

  &__card {
    border-radius: $radius-md;
    overflow: hidden;
    background: $basic-white;

    @include viewport-md {
      flex: 1 1 45%;
      margin: 0;
    }

    @include viewport-lg {
      flex: 1 1 30%;
    }
  }

  &__card-image {
    height: 200px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__card-inner {
    padding: 30px;
  }

  &__card-title {
    @include publication-title;
    text-decoration: none;
    margin-bottom: 15px;
    display: inline-block;
    transition: all .3s;

    @include viewport-xl {
      &:hover {
        color: $accent-color;
      }
    }
  }

  &__card-date {
    @include publication-title($text-color);
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 30px;
  }

  &__card-description {
    font-size: 14px;
    color: $basic-black;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -15px;
      left: 0;
      border-top: 4px solid $separator-color;
      width: 100%;
    }
  }
}