.react-tabs {
  border: none;
  outline: none;
  &__tab {
      &--selected {
        border: none;
        outline: none;
        .tabs__links-item {
          @include main-gradient-text;
        }
      }
  }
}